body {
  margin: 0;
  padding: 0;
  background-color: rgb(242, 249, 250);
}
h1 {
  font-family: "Noto Sans JP", sans-serif;
}
#map {
  height: auto;
  width: 1180px;
  max-height: 100vh;
  overflow: auto;
  position: absolute;
  right: 0.5px;
}
