body {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Noto Sans JP", sans-serif;
}
#map {
  height: 800px;
  width: 1180px;
  position: absolute;
  right: 5px;
}
.footer-container {
  position: fixed;
  bottom: 0;
  background-color: crimson;
}
